.profile-section {
  margin: 30px auto;
  @include mq {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__profile-image {
    width: 300px;
    margin: 0 auto;
    border-radius: 100%;
    @include mq {
      margin: 0 70px;
    }
  }
  &__author-text-area {
    @include mq {
      text-align: left;
    }
  }
  &__author-name {
    font-size: 1.5em;
    font-weight: 500;
  }
  &__author-description {
    font-size: 0.8em;
    line-height: 2em;
  }
}
